.box-01 {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(200, 200, 200, 1.0);
}

.box-02 {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(187, 18, 26, 1.0);
  opacity: 0;
}