.box {
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 1.0);
  transition: background-color 1000ms 0s ease, width 10000ms 0s ease;
}

.box:hover {
  background:  rgba(200, 200, 200, 1.0);
  width: 300px;
}